*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: "Lato", sans-serif;
    
}

.outer-box{
    width: 100vw;
    height:100vh;
    background: linear-gradient(to top left, pink,lightblue);
}

.inner-box{
    width: 400px;
    height:350px;
    margin: 0 auto;
    position: relative;
    top:40%;
    transform: translateY(-50%);
    padding: 0px,40px;
    background-color: #ffffff25;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    border: 0.1em solid grey;
    box-shadow: 2px 2px 5px rgb(35, 124, 94);
    z-index: 3;
}

.signuphead h1{
    text-decoration: underline dotted;
    font-size: 2.5rem;
    color:#192b1a;  
     margin:0px 137px;
}

.signuphead p{
    font-size:0.8rem;
    margin:0 102px;
}

.signupmain{
    margin:0px 50px;
}

.signupmain p{
    margin:10px 0;
}

.signupmain p label{
    display:block;
    font-weight: bold;
}

.signupmain p input{
    width:100%;
    padding: 10px;
    border: 2px solid #cccc;
    font-size: 1rem;
    margin-top: 4px;
}

#submit{
    background-color: rgb(45, 156, 119);
    border:none;
    border-radius: 8px;
    color:white;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    cursor:pointer;
}

#submit:hover{
    background-color:rgb(35, 124, 94);
}

.signupfoot{
    margin:0 88px;
}

.signupfoot p{
    color:#555;
    text-align:centre;
}

.signupfoot p a{
    color:rgb(35, 124, 94);
}

.circle{
    width:200px;
    height:200px;
    border-radius: 100%;
    background:linear-gradient(to top right, rgb(93, 151, 170),white );
    position: absolute;
    z-index: 1;
}

.c1{
    top:50px;
    left:350px;
}

.c2{
    bottom:190px;
    right:380px;
}